
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AdditionalMeta
{
    <title>About Us - FlightsMojo</title>
    <meta name="description" content="FlightsMojo.in is a fastest growing travel company in India and was launched in August 2015. We provide a variety of travel services and products to make both business and leisure travel more enjoyable.">
    <meta name="keywords" content="Cheap flight tickets,Airline fares, Airline ticket deals,Cheap Flights,Air tickets,">
    <meta name="author" content="Flights Mojo">
    <meta name="language" content="en" />
    <meta name="robots" content="INDEX, FOLLOW">
    <link rel="canonical" href="https://www.flightsmojo.in/about-us" />
}
<style>

.About_Vision h2{color:#e83819!important;font-size:14px;text-align:left; margin-bottom:10px; font-weight:bold;}
.About_Vision h3{font-size:20px;font-weight: bold;line-height:29px;}

@@media screen and ( max-width:767px){
    .About_Vision{width: 100%;padding-left: 0px;padding-right: 0px;}
    .About_Vision h3{font-size: 20px;}
}
</style>
<main>
    <section class="search_bg">
        <div class="container">
            <h1>ABOUT US</h1>
        </div>
    </section>
    <section class="common_page_con">
        <div class="container">
            <div class="old_page" style="display:none;">
                <div class="common_content marbuttom20">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="about_small">
                                <img class="" src="/images/logo.png" alt="logo" />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h2>Welcome!</h2>
                            <p>Flights Mojo Bookings Pvt. Ltd. based in India, is one of India's leading online travel companies and operates the website Flightsmojo.in. We provide a variety of travel services and products to make both business and leisure travel more enjoyable. You'll never be far from helpful planning and booking support with us, whether it's before or after your trip.</p>
                        </div>
                    </div>
                </div>
                <div class="common_content marbuttom20">
                    <div class="row">
                        <div class="col-md-3 text-center about_mob">
                            <div class="about_small">
                                <img src="/images/iata_color.png" alt="iata" />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h2>Trust Us, We're Experts</h2>
                            <p>We are a certified member of the IATA (International Air Transport Association). One of the World’s biggest travel professional associations. IATA members include travel agents and organizations having similar products & services, i.e., tours, cruises, hotels, car rentals, etc. IATA is recognized around the world as a symbol of integrity and professionalism. The media most usually endorse IATA to recommend how to find an authentic and licit travel agent.</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="about_small about_dest">
                                <img src="/images/iata_color.png" alt="iata" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="common_content marbuttom20">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="about_small about_dest">
                                <img src="/images/pci_dss_color.png" alt="pci" />
                            </div>
                        </div>

                        <div class="col-md-9">
                            <h2>Payment Card Industry Data Security Standard(PCI DSS)</h2>
                            <p>Flightsmojo is also PCI DSS-approved (Payment Card Industry Data Security Standard). PCI DSS is a global security standard to prevent any theft of customers’ confidential payment card information. We take all the necessary measures to keep safe all the information provided by our customers and provide better & secure payment services.</p>
                        </div>
                        <div class="col-md-3 text-center about_mob">
                            <div class="about_small">
                                <img src="/images/pci_dss_color.png" alt="pci" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="common_content marbuttom20">
                    <div class="row">

                        <div class="col-md-9">
                            <h2>Mission, Vision, and Values</h2>
                            <p>We at Flights Mojo believe in providing our customers with the best and most comfortable flying services. Our customers are our representatives, and we believe in their guidance and views. With our guided values and work ethics, it has become possible and is visible in our past projects. We are inspired to give our best every day.</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="about_small">
                                <img class="" src="/images/vision-mission.png" alt="vision" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="common_content marbuttom20">
                    <div class="row">
                        <div class="col-md-3 text-center about_dest">
                            <div class="about_small">
                                <img class="" src="/images/Cached.png" alt="cached" />
                            </div>
                        </div>

                        <div class="col-md-9">
                            <h2>No Cached Results</h2>
                            <p>We display real time availability of fares and not cached results like most online travel booking systems. This means avoiding frustration of dealing with baloney of looking at good fares but finding out that there’s no availability at the time of booking. With us you are looking at real time flight availability and can finish whole searching and booking process in just a few minutes.</p>
                        </div>
                        <div class="col-md-3 text-center about_mob">
                            <div class="about_small">
                                <img class="" src="/images/Cached.png" alt="cached" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="common_content marbuttom20">
                    <div class="row">

                        <div class="col-md-9">
                            <h2>Cutting Edge Technology</h2>
                            <p>As a full-service travel agency, we use cutting-edge technology to provide travel inventory at affordable prices to all areas of the online travel business. We also offer a very user friendly UI, giving you hard data about the all the available flight options, multiple tools to perform the search exactly to your specific needs and make better choices. Give us a chance and see what a difference we can make!</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="about_small">
                                <img style="width: 70%;" src="/images/cutting_edge.png" alt="cutting edge" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="About_topcon">
                <div class="about_topcon_left">
                    <div class="about_leftit">
                        <div class="aboutleft_head">
                            <p>How It Started</p>
                            <h1>Our Dream is To Revolutionize the Way You Book Flights</h1>
                        </div>
                        <div class="aboutleft_content">
                            <p>Flights Mojo began with a simple idea: make flight booking easy. Frustrated by the complexity of finding the best flights, we set out to create a platform dedicated solely to simplifying the process. What started as a small project has now grown into a trusted service, handling over 400,000 bookings each year, helping travelers book flights quickly and affordably.</p>
                        </div>
                    </div>
                    <div class="about_botcon">
                        <div class="about_exp_top">
                            <div class="about_exp_left">
                                <h2>10+</h2>
                                <p>Years Expertise</p>
                            </div>
                            <div class="about_exp_left">
                                <h2>400,000+</h2>
                                <p>Successful Bookings</p>
                            </div>
                        </div>
                        <div class="about_exp_bot">
                            <div class="about_exp_left">
                                <h2>50+</h2>
                                <p>Airlines Partnered</p>
                            </div>
                            <div class="about_exp_left">
                                <h2>98%</h2>
                                <p>Satisfied Customers</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="about_topcon_right">
                    <div class="about_topcon">
                        <video width="500"  controls autoplay>
                            <source src="~/images/Video/office.mp4" type="video/mp4">
                           
                        </video>
                    </div>
                    
                </div>
            </div>
            <div class="about_welCon">
                <h2>Welcome to Flights Mojo</h2>
                <p>At Flights Mojo, we are passionate about one thing—flights. Whether it’s domestic travel within India or international adventures, our focus is singular, clear, and expert: helping you get from point A to point B with ease. We don’t sell hotels, car rentals, or vacation packages. We specialize in flights because we believe that perfecting one thing is better than spreading ourselves thin. With us, you're in the hands of specialists who know the ins and outs of air travel.</p>
                <h3>Who We Are</h3>
                <p>Flights Mojo was born from the idea that booking flights should be simple, affordable, and tailored to your needs. We're not just a website; we're a team of travel enthusiasts and flight experts committed to getting you where you need to go—quickly, smoothly, and affordably. Since our inception, we've helped thousands of customers find the best flight deals, and we take pride in doing just that.</p>
            </div>
            <div class="About_topbot">
                <div class="About_mission">
                    <h2>Our Mission</h2>

                    <h3>Simplifying Your Flight
Booking Experience</h3>
                    <p>Every aspect of Flights Mojo is built around making your flight booking experience as simple and efficient as possible. We understand that finding the right flight can sometimes feel overwhelming, with endless options and fluctuating prices. That’s why we’ve dedicated ourselves to providing a platform where you can easily search, compare, and book flights—all with the best prices guaranteed.</p>

                    
                </div>
                <div class="About_Vision">
                    <h2>Our Vision</h2>

                    <h3>Revolutionizing Flight Bookings for a Better Tomorrow</h3>
                    <p>Our vision is to become the go-to platform for flight bookings, recognized for delivering simplicity, transparency, and trust. We aspire to revolutionize the way people book flights by continually innovating and improving our services, making air travel smoother and more accessible for everyone, no matter where they’re headed.</p>
                </div>
            </div>
        </div>
        <div class="trust_container DesktopCon">
            <div class="container">
                <picture>
                    <source srcset="/images/travel_icon.webp" type="image/webp">
                    <img src="/images/travel_icon.png" alt="banner">
                </picture>
            </div>
        </div>
        <div class="trust_container mobile porelative">
            <div class="container">
                <picture>
                    <source srcset="/images/icon_travel.webp" type="image/webp">
                    <img src="/images/icon_travel.png" alt="banner">
                </picture>
            </div>
        </div>
    </section>
</main>