
@{
    ViewBag.Title = "AffiliateProgramme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AdditionalMeta
{
<link rel="canonical" href="https://www.flightsmojo.in/Affiliate-Programme" />
}
<main>
    <section class="search_bg">
        <div class="container">
            <h1>Affiliate Programme</h1>
        </div>
    </section>
    <section class="common_page_con">
        <div class="container">
            <div class="common_content">

                <div class="para_content">


                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-xs-12 affliate_left">
                                <h2>More than $500,000 paid monthly.</h2>
                                <h4>Our Commissions are among the highest in the travel industry.</h4>
                                <div class="affliate_con">
                                    <div class="aff_div">
                                        <h3>Sign Up</h3>
                                        <p>It’s Free & Easy!</p>
                                    </div>
                                    <div class="aff_div">
                                        <h3>Promote</h3>
                                        <p>Run Our Creatives</p>
                                        <img src="/images/arrow_img.png" />
                                    </div>
                                    <div class="aff_div">
                                        <h3>Earn Big!</h3>
                                        <p>You can pocket up to $35 per booking</p>
                                        <img src="/images/arrow_img.png" />
                                    </div>
                                </div>

                                <a href="#">Join Now!</a>
                            </div>
                            <div class="col-md-6 col-xs-12 affliate_right">
                                <img src="/images/affliate_image.png" />
                            </div>

                        </div>
                        <div class="affliate_mid_con">
                            <h3>Affiliate Program (Free Sign up)</h3>
                            <p>flightsmojo.in Affiliate Program help you earn big time, all while helping your customers get away. We offer:</p>
                            <ol>
                                <li>Highly competitive commissions that are paid upon booking.</li>
                                <li>A 90 - day cookie duration period</li>
                                <li>Incentives on high-volume bookings</li>
                                <li>Newsletters with timely promotions to help you increase sales</li>
                                <li>Online reporting and tracking</li>
                                <li>Easy implementation that allows you to start earning commissions almost instantly</li>
                                <li>An affiliate team that will help you from day one</li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12 aff_bottomL">
                        <h3>Sign up or Login for the flightsmojo     Affiliate Program Via Commission Junction (CJ)</h3>
                        <div class="affliate_img">
                            <img src="/images/conversant.png" />
                            <div class="row">
                                <div class="col-md-6 col-xs-6 affliat_login"><a href="#">Sign Up Now</a></div>
                                <div class="col-md-6 col-xs-6 affliat_login"><a href="#">Login</a></div>
                            </div>
                        </div>
                    </div>






                </div>






            </div>
        </div>
    </section>
</main>