
@{
    ViewBag.Title = "cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <link rel="canonical" href="https://www.flightsmojo.in/cookies" />
}

<section class="search_bg">
    <div class="container">
        <h1>Cookies</h1>
    </div>
</section>
<section class="common_page">
    <div class="container">
       
        <div class="main_container">
            <p>
                Flightsmojo.in uses cookies on Flight Search Services. By using the service, you consent the use of the cookies.<br />
                This website uses first and third party cookies, both session and permanent, to make the website work properly, collect information about the traffic or remember user’s actions and preferences over time.
            </p>

            <div class="payment_con">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" class="collapsed">What is a cookie?<i class="fa fa-caret-down"></i></a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p>A cookie is a small text file that is placed on your computer or mobile devices to help ensure that you get the best possible experience when you visit a website. It allows the service or third-party to recognize you and make your next visit easier. Cookies can be “persistent” or “session” cookies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" class="collapsed">Why does Flightsmojo.in use cookies?<i class="fa fa-caret-down"></i></a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p>Cookies allow us to improve the website’s content, punctuality and speed while their tracking ability also helps us to understand your likes and dislikes. It means it’s easy to respond quickly and adapt the site accordingly. Cookies help in remembering the information like your username</p><br />
                                <p>
                                    Cookies also allow us to highlight what destinations that visitors like you are interested in. Once, we are aware of that, we can show who is booking what and where what are the latest deals and destinations. The important thing to remember is that whilst some cookies are used to track your use of our
                                    website, they cannot be ever used to identify you or anyone who has visited our website personally.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" class="collapsed">What cookies does Flightsmojo.in use?<i class="fa fa-caret-down"></i></a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p><b>First-third party cookies</b></p>
                                <p>The cookies set by us are called “First-party cookies” and the ones set by our partners and suppliers are called “third-party cookies”. Usually, third-party cookies enable the visits to our website to see and interact with content such as videos and advertising which are provided to us by other companies. </p><br />
                                <p><b>Sessions and Persistent Cookies</b></p>
                                <p>Session cookies are the cookies that exist only for the length of time that you or any other customer visit our site and are deleted as soon as you close the browser. Persistent cookies which are also known as permanent cookies are the ones that remain stored on your browser and are ready for use the next time you visit our website.</p>
                                <br />
                                <p><b>Essential cookies</b></p>
                                <p>These cookies are required to help you access secure areas and to use great features like our shopping basket. These are critical because you can’t access these services without them,</p><br />

                                <p><b>Social networking cookies</b></p>
                                <p>These cookies allow visitors like you to share our page and content through third-party social networking websites.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" class="collapsed">How can you manage cookies?<i class="fa fa-caret-down"></i></a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <p>We understand that you may want to manage your cookies from time to time so here are some tips.</p>
                                <br /><br />
                                <p>By opting into Our Cookie Policy, you allow us to</p>
                                <ul>
                                    <li>Show you relevant content</li>
                                    <li>Collect data so we can improve your website experience</li>
                                    <li>Share information about your use of the website with third-party advertising and analytics partners</li>
                                    <li>Enable you to earn and redeem any Flightsmojo.in reward points</li>
                                    <li>Show your bundled savings</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" class="collapsed">What are your preferences and choices regarding cookies?<i class="fa fa-caret-down"></i></a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <div class="term_panel">
                                    <p>If you don’t want the website to analyze your preference, booking of flights and the destination you are planning to visit, you can enable the cookies from web browser, delete or refuse cookies. For the same visit the help page of your browser.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    </div>
                    
                  

                  
                    
                   
                </div>
            <div class="cookie_con">

                <p><b>Note:</b> If you delete or set to refuse to accept the cookies, you might lose the valuable offer that we offer and some of the special features we offer to our customers. You might not be able to store your preferences and some of the pages might not be displayed properly due to the cookies policy. We use cookies for user behavior and experience and don’t use it for any other purpose. We also use it for sending promotional offers that we come up for flight bookings.</p>
                <br />

            </div>

        </div>
    </div>
</section>


