
@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <title>Disclaimer - FlightsMojo.in</title>
    <meta name="description" content="FlightsMojo.in only act as an agent, we create a bridge between suppliers and travelers of travel services including flight tickets, Airlines tickets and other travel services.">
    <meta name="author" content="Flights Mojo">
    <meta name="language" content="en" />
    <meta name="robots" content="INDEX, FOLLOW">
    <link rel="canonical" href="https://www.flightsmojo.in/disclaimer" />
}

<section class="search_bg">
    <div class="container">
        <h1>Disclaimer</h1>
    </div>
</section>
<section class="common_page">
    <div class="container">
        <div class="col-md-12">
            <p style="font-weight:400 ; font-size:14px;">Flights Mojo solely act as an agent, we create a bridge between travelers and suppliers of travel services including flight tickets, hotels and other travel services. We do not own or manage any kind of Travel Services. We don’t and never claim that we are airlines or are associated with any airlines. Entire branding if any is authentic for expressive purposes only and does not signify any involvement with any airlines or organization.</p><br>
            <p style="font-weight:400; font-size:14px;">Flights Mojo guards your privacy and security. All prices shown are for round trip tickets. Upto 40% Off savings is applicable on Flights Mojo Service Fees only. All promotions or discounts may be replaced with new promotions at various times. Upto 40-60% discounts are based on Major Airlines International "Y" class Published Airfares only and Airlines Flights Mojo Service Fees Only. Prices are based on advance purchase, Certain stay at the traveler's destination may be required. Displayed fares are based on historical data, are subject to change and cannot be guaranteed at the time of booking. The Discount offer is applicable on phone bookings.</p>
        </div>
    </div>
</section>