
@{
    ViewBag.Title = "error500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <title>Search & Book Instantly Cheap Flights Tickets, Air Tickets & Last-Minute Flights-Flights Mojo</title>
    <meta name="description" content="Searching & booking cheap flights have never been so easy. Flights Mojo offers a huge array of highly-discounted & low-priced flights to meet your flights need.">
    <meta name="keywords" content="Cheap flight tickets,Airline fares, Airline ticket deals,Cheap Flights,Air tickets,">
    <meta name="author" content="Flights Mojo">
    <meta name="Language" content="English" />
   
    <meta name="Robots" content="INDEX, FOLLOW">
    
    <link rel="canonical" href="https://www.flightsmojo.in/500" />
}

<h2>error500</h2>

