
@{
    ViewBag.Title = "paynow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalMeta
{
    <title>Search & Book Instantly Cheap Flights Tickets, Air Tickets & Last-Minute Flights-Flights Mojo</title>
    <meta name="description" content="Searching & booking cheap flights have never been so easy. Flights Mojo offers a huge array of highly-discounted & low-priced flights to meet your flights need.">
    <meta name="keywords" content="Cheap flight tickets,Airline fares, Airline ticket deals,Cheap Flights,Air tickets,">
    <meta name="author" content="Flights Mojo">
    <meta name="Language" content="English" />
   
    <meta name="Robots" content="INDEX, FOLLOW">
    
    <link rel="canonical" href="https://www.flightsmojo.in/pay-now" />
}

<section class="search_bg">
    <div class="container">
        <h1>PAY NOW</h1>
    </div>
</section>
<section>
    <div class="container">
        <div class="pay_now">
            <h3>WE ACCEPT</h3>
            <img src="~/images/pay_large_icon.jpg" class="image-responsive" />



        </div>
    </div>
</section>
<style type="text/css">
    .pay_now{    width: 100%;
    float: left;
    text-align: center;}
.pay_now img{ margin-bottom:15px;}
.pay_now h3{ margin:15px 0; font-size:25px; color:#000; font-weight:bold;}
    .btnnn {
        font-size: 22px;
        width: 200px;
        border: 0;
        padding: 3px 0;
        background-color: #e83819;
        text-align: center;
        color: #FFFFFF;
        border-radius: 6px;
        margin-top: 20px;
    }

    .paymentHeader {
        padding-bottom: 10px;
        line-height: 40px;
        font-size: 45px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        background-color: bisque;
        width: 100%;
        text-align: center;
    }
</style>
