
@{
    ViewBag.Title = "traveladvisory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AdditionalMeta
{
    <link rel="canonical" href="https://www.flightsmojo.in/travel-advisory" />
}

<section class="search_bg">
    <div class="container">
        <h1>Travel Advisory</h1>
    </div>
</section>
<section class="common_page">
    <div class="container">
       
            <div class="main_container">
                <p>For a memorable and seamless Air Travel experience and to book Lowest Airfare Tickets on, www.Flightsmojo.in , given below are some helpful travel tips with documentations, Passport, VISA and other suggestions, before making the International & Domestic flight bookings:</p>

                <div class="payment_con">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" class="collapsed">Flight Booking - Name <i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>For flight booking, ensure the name & spellings are as on Passport for International, or Original Photo ID FOR Domestic, with First, Middle & Last name (No initials Permitted).</li>
                                        <li>Travelers must present copy of printed e-ticket to enter airport and Check-in.</li>
                                        <li>Ensure advising your correct E-mail to receive your E-tickets.</li>
                                        <li>Provide correct Mobile Number at Origin & Destination to receive confirmation of booking on SMS, and also any information for schedule change by the airlines.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" class="collapsed">Child & Infant Discount<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>To avail of Child under 12 years & Infant under 2 years, provide Date of birth, while booking.</li>
                                        <li>Infant are not provided Seat</li>
                                        <li>Child under 5 years cannot travel as un-accompanied minor.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" class="collapsed">Passport & Visa<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>Passport must be valid for 180 days from the date of outbound travel.</li>
                                        <li>Passport must not be mutilated and have sufficient pages for VISA endorsement.</li>
                                        <li>Hand written passports are not valid for travel.</li>
                                        <li>In case of Special travel permit document, check with a country of destination.</li>
                                        <li>Ensure VISA and its validity for all Transit and destinations countries.</li>
                                        <li>Travel & Medical Insurance required for obtaining VISA to many countries.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" class="collapsed">Vaccination<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>Check vaccination regulation & obtain vaccination for some countries before flight booking.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" class="collapsed">Pets<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>Pets such as dogs, cats and birds, may be allowed to accompany passengers on board up to maximum 5 Kilos, in a water proof carrying bag subject to airlines permission and booking directly with the airlines.</li>
                                        <li>Check country specific requirements for Health and Rabies vaccination certificates.</li>
                                        <li>Pets over 5 Kilos, may be allowed in the flight hold as Cargo, subject to Cargo customs clearance and documentations.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" class="collapsed">Travel insurance<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>It is recommended to obtain Travel & Medical insurance, for the duration of your travel, including for transit countries, to avoid any high cost of medical treatment in foreign country.</li>
                                        <li>Travel insurance helps to compensate, loss of baggage, flight delays or calamity.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" class="collapsed">Frequent Flyer Number<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>For Frequent Flyer & other Airlines Privilege Cards, benefits, customers are recommended to contact the airlines directly for Credits.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" class="collapsed">Special Services<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>For Elderly & Physically disabled, wheel-chairs services has to be booked in advance by the passengers with the airlines.</li>
                                        <li>For Special Meals request must be made, directly with the airlines.</li>
                                        <li>Some airlines charge extra for specific seat request and you may request us for the same, subject to availability.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" class="collapsed">Quick Checklist<i class="fa fa-caret-down"></i></a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>Passenger must Check-in at least 02 hours in advanced.</li>
                                        <li>Check Departure Time with the airlines.</li>
                                        <li>Carry your printed e-ticket, with Passport or ID.</li>
                                        <li>Check baggage rules, to avoid payments for excess luggage.</li>
                                        <li>Do not carry liquids, knifes, lighters, sharp objects in your hand luggage.</li>
                                        <li>Keep photocopies of your Passport and VISA in separate luggage.</li>
                                        <li>Re-confirm your bookings 24 hours in advance.</li>
                                        <li>Carry Medical & Travel insurance.</li>
                                        <li>Inform your Credit card, of your possible use of credit card abroad.</li>
                                        <li>Check Weather at destination and carry appropriate clothing.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        

                        </div>
         
                    </div>

            </div>
       
    </div>
</section>
