
@{
    ViewBag.Title = "webcheckin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AdditionalMeta
{
<title>Airlines Web Check In - Flightsmojo</title>
<meta name="description" content="Go for Web Check-in service to avoid long check-in queues at airport. select your seat and get your boarding pass ready." />
<meta name="keywords" content="web check in, airlines web check in, check-in, online check in, online web check in domestic airlines web check in, international airlines web check in" />
    
}
<main>
    <section class="search_bg">
        <div class="container">
            <h1>Web CheckIn</h1>
        </div>
    </section>
    <section class="common_page_con">
        <div class="container">
            <div class="row">
                <div class="SelectAirline">
                    <h1>Select Airline</h1>
                    <ul>
                        <li><span><img src="/images/flight_small/SG.gif" alt="logo" /></span> <h3>SpiceJet</h3> <a href="https://book.spicejet.com/SearchWebCheckin.aspx" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/6E.gif" alt="logo" /></span> <h3>IndiGo</h3> <a href="https://www.goindigo.in/web-check-in.html" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/AI.gif" alt="logo" /></span> <h3>Air India</h3> <a href="https://www.airindia.com/in/en/manage/web-checkin.html" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/ix.gif" alt="logo" /></span> <h3>Air India Express</h3> <a href="https://www.airindiaexpress.com/checkin-home" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/UK.gif" alt="logo" /></span> <h3>Vistara</h3> <a href="https://www.airvistara.com/in/en/travel-information/vistara-experience/on-ground/check-in" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/AK.gif" alt="logo" /></span> <h3>AirAsia</h3> <a href="https://www.airasia.com/check-in/v2/en/gb" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/QP.gif" alt="logo" /></span> <h3>Akasa Air </h3> <a href="https://www.akasaair.com/check-in/web-check-in" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/9I.gif" alt="logo" /></span> <h3>Alliance Air </h3> <a href="https://www.allianceair.in/book" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/S9.gif" alt="logo" /></span> <h3>Fly Big</h3> <a href="https://flybig.paxlinks.com/web-checkin" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/S5.gif" alt="logo" /></span> <h3>Star Air</h3> <a href="https://ibook.starair.in/web-checkin" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/SQ.gif" alt="logo" /></span> <h3>Singapore Airlines</h3> <a href="https://www.singaporeair.com/en_UK/plan-and-book/your-booking/checkin/" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/TG.gif" alt="logo" /></span> <h3>Thai</h3> <a href="https://www.thaiairways.com/en_IN/manage/my_booking.page" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/EY.gif" alt="logo" /></span> <h3>Etihad Airways</h3> <a href="https://www.etihad.com/en-in/manage/check-in" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/MH.gif" alt="logo" /></span> <h3>Malaysia Airlines</h3> <a href="https://online.malaysiaairlines.com/ssci/identification#/identification" target="_blank">Go to Airline</a></li>
                        <li><span><img src="/images/flight_small/EK.gif" alt="logo" /></span> <h3>Emirates</h3> <a href="https://www.emirates.com/english/" target="_blank">Go to Airline</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

