@import url('PassengerCss.css');


 #form .form-group label.error { color: #FB3A3A;display: inline-block;margin: 0px 0 0px 0px;padding: 0;text-align: left;}
.error-class {border: 1px dotted #f00 !important; }
.padd_L25{ padding-left:25px;}
.help-block {display: block;margin-top: 5px;margin-bottom: 10px;color: #737373;background: #fffcdc;margin: 3px 0;clear: both;}
.container-2{width:90%; padding:0 15px;margin:0 auto;}
.help-block, .error {color: #f00;padding-left: 10px;font-size: 12px;}
.field-validation-error {color: #f00 !important;}
.passengerFlightD{ padding:10px;width:100%; float:left;}
.payment_div> h2{ margin-top: 0;color: #000;font-size: 15px;padding: 8px 15px;font-weight: 600;}
.payment_div> h2 img{width: 36px;padding: 6px 3px; color:#fff;font-size: 15px;}
.para_text img{width: 36px;padding: 6px 3px;}
.passenger_Deapart{width: 100%;float: left; border-radius: 4px; margin-top: 12px;}
.depat_img {margin: 0;padding: 0;flex: 1;width: 100px;display: flex;align-items: center;color: #034053;text-transform: uppercase;font-size: 13px;font-weight: 600;background-color: #efefef;padding: 5px 14px;margin-top: 15px;position: relative;}
.depat_img:after{position: absolute;top: 0;right: -30px;content: '';border: 15px solid transparent;border-left: 15px solid #efefef;}
.depat_img i{padding-right:6px;}
.depart_top{width: 100%;float: left;margin-top:25px;}
.marright14{margin-right:14px;}
.passentCity{ font-size:14px; color:#000;}
.passengerDate{ color:#737373; font-size:14px;}
.passDepartMid{ width:100%; float:left; margin-top:10px;}
.passDepartLeft{ width:20%; float:left;}
.passDepartRight{ width:80%; float:left;}
.passDeapartM{width:100%; float:left;}
.passDepartLogo{width:20%; float:left;}
.passDepartLogo img{width:100%;}
.passDepartAir{ width:80%; float:left;padding-left: 20px;}
.passDepartAir span{ width:100%; display:inline-block; font-size:1.4rem; color:#000; font-weight:500;}
.passDepartAir dfn{ font-size:1.2rem; color:#808080; font-style:normal;padding-top:10px;display:inline-block;}
.passDepartAir p{ font-size:1.2rem; color:#808080;}
.passDepartOne{width: 33%;float: left;}
.passDepartTwo{width: 33%;float: left;}
.passDepartThird{width:33%; float:left;}
.passDepartOne{ padding-left:50px;padding-right: 30px;}
.passDepartOne p b{ font-size:2.4rem; color:#000;}
.passDepartOne> p span{ font-size:1.6rem; font-weight:600; padding-left:6px;}
.passDepartOne> dfn{font-size:1.2rem; color:#808080;display:inline-block; font-style:normal;width:100%;}
.passDepartOne> span{font-size:1.2rem; color:#808080;display:inline-block; font-style:normal;width:100%; padding-top:4px;}
.passDSline{width: 100%; height: 1px;border-bottom: 1px dotted #b0aeae;float: left;position: absolute;right: 0;top: 34px;}
.passDSline:before{float: left;content: " ";border-radius: 50%;width: 9px;height: 9px;margin-top: -4px;background: #b0aeae;}
.passDSline:after{float: right;content: " ";border-radius: 50%;width: 9px;height: 9px;margin-top: -4px;background: #b0aeae;}
.passIcon{width:32px; height:32px; background:url(/images/flightTakeoff.png)no-repeat; position:absolute; margin:auto; left:0; right:0; top:-15px;}
.PassReundale span{width: 50%; display: block;background: #ffffff;border-radius: 45px;font-size: 10px;color: #2dca1c;border: 1px solid #2dca1c; margin: 40px auto 15px;text-align: center;padding: 2px 0px;text-transform: uppercase;}
.citycode_mob{display:none;}
.passDeartStop{width: 100%;float: left;color: #6a6868;font-size: 12px;text-align: center;}
.ProgrssDiv{width: 100%;float: left;padding-left:35px;display: inline-block;}
.passDepartThird{ padding-left:50px;padding-right: 30px;}
.passDepartThird p b{ font-size:22px; color:#000;}
.passDepartThird> p span{font-size: 1.6rem;font-weight: 600;padding-left: 6px;}
.passDepartThird> dfn {font-size: 1.2rem;color: #808080;display: inline-block;font-style: normal;width: 100%;}
.passDepartThird> span {font-size: 1.2rem;color: #808080;display: inline-block;font-style: normal;width: 100%;padding-top:4px;}
.passenger_Return{width: 100%;float: left; margin-top: 12px; position:relative;}
.passenger_Dtailsone{width: 100%;float: left;border: 1px solid #dad6d6;padding: 10px;border-radius: 4px;margin-top: 12px;box-shadow: 0 0 3px rgba(0,0,0,0.20);-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.20);}
.peassenger-inform{ width:100%; float:left; padding:10px;}
.Passenger_Title{width:20%;float:left;padding-left: 6px;}
.Passenger_Title label{font-weight: 400; color:#000;font-size: 13px;margin-top: 5px;}
.Passenger_Title select{border: 1px solid #d6d6d6;display: block;width: 100%;height: 34px;border-radius: 2px;margin-bottom: 15px;box-shadow: none;font-size: 12px;padding: 5px;}
.Passenger_FirstN{ width:39%; float:left; margin-left:10px;}
.Passenger_FirstL{ width:38%; float:left; margin-left:10px;}
.Passenger_FirstN label, .Passenger_FirstL label{width:20%;display: inline-block;padding-left: 6px;}
.Passenger_FirstN input, .Passenger_FirstL input{border: 1px solid #d6d6d6;display: block;width: 100%;height: 34px;border-radius: 2px;margin-bottom: 15px;box-shadow: none;font-size: 12px;padding: 5px;}
.pay_pax_detail_Title {width:20%;display: inline-block; padding-left: 6px;float: left;}
.pay_pax_detail {width:38%;float: left; margin-left: 10px;}
.pay_pax_birth {width:24%;margin-left: 10px;float: left;}
.onewayItenary> ul{ list-style-type:none; margin:0; padding:0 10px;}
.onewayItenary> ul li{ float:left; margin-top:15px;}
.onewayItenary> ul li a{ color:#000; font-size:13px;  padding:6px 10px; margin-right:5px;}
.onewayItenary> ul li a:hover{background:#ddd;border-radius:8px;}
.fareRulesMenu{ list-style-type:none; margin:0; padding:0 10px;}
.fareRulesMenu li{ float:left; margin-top:15px;}
.fareRulesMenu li a{ color:#49494a; font-size:13px;  padding:6px 10px;}
.fareRulesMenu li a:hover{background:#ddd;border-radius:8px;}
.fareRulesMenu li a.active{background:#ddd;border-radius:8px;}
.departureItenary> ul{ list-style-type:none; margin:0; padding:0 10px;}
.departureItenary> ul li{ float:left; margin-top:15px;}
.departureItenary> ul li a{ color:#000; font-size:14px;  padding:6px 10px;}
.departureItenary> ul li a:hover{background:#ddd;border-radius:8px;}
.FareRulesCon{ margin-top:15px; width:100%; float:left;padding:10px;box-shadow: 0 0 3px rgba(0,0,0,0.20);-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.20); }
.FareRulestabel{ margin-bottom:15px; width:100%; float:left; background:#fff;}
.FareRulestabel table{ border:#ccc;}
.FareRulestabel table th{ background:#f5f5f5; padding:6px;}
.FareRulestabel table th span{ font-size:13px; font-weight:bold; color:#000;}
.FareRulestabel table th p{font-size:12px;color:#000;font-weight:normal;}
.FareRulestabel table td{  padding:6px;font-size:12px;color:#000;}

.FareRulestabel2 table{border:#ccc;}
.FareRulestabel2 table th{ background:#f5f5f5; padding:6px; text-align:center; font-size:12px;}
.FareRulestabel2 table td{  padding:6px;font-size:12px;color:#000;text-align:center;}
.FareRulestabel2 table td img{width:45px;}
.fareTerms{width:100%; float:left; padding:10px; background:#fff;}
.fareTerms h6{ font-size:13px; font-weight:bold; margin-bottom:10px;}
.fareTerms ul{padding:0 15px;}
.fareTerms ul li{ font-size:11px; color:#000;line-height:16px; }
.baggageCon{width:100%; float:left; margin-top:12px;}
.bagggeTab{background:#f5f5f5; width:100%; float:left; padding:4px;border:1px solid #ccc;}
.baggehead{ width:33%; float:left;color: #000;text-align: center; padding:10px;font-size: 14px; font-weight:bold;}
.baggageContent{ width:100%; float:left; padding:4px;border:1px solid #ccc;}
.baggegeCheck{width:33%; float:left;color: #999898;    text-align: center; padding:10px;font-size: 13px;}
.baggegeCheck b{ font-size:15px; color:#000;}
.checkbagLeft{width:49%; float:left;}
.checkbagRight{ width:49%; float:left;}
.checkbagLeft img{ margin-bottom:15px;}
.checkbagLeft p{ color:#000;}
.payment_div h4{ background:#49494a; color:#fff; font-size:15px;border-radius: 12px 12px 0 0;}
.insuranceLeft{ background: #49494a;border-radius: 12px 12px 0 0;position: relative;padding-bottom:12px;margin-bottom: 15px;}
.acko_img{float: right;top: 12px;position: absolute;right: 31px;width: 8%;border: 1px solid #fff;border-radius: 10px}
.insuranceLeft h4 i{ font-size:14px; padding-left:6px;}
.insuranceLeft p{ margin: 0;padding: 0 0 0 40px;font-size: 12px;color: #fff;position: absolute;top: 33px;left: 8px;}
.payment_div h4 img{width: 50px; padding: 6px 10px;}
.insurane_top,.insurane_bottom{width:100%; float:left; padding:10px;}
.insuDiv{border:1px solid #ccc; border-radius:10px; padding:10px; float:left; width:100%; text-align:center;}
.insuDiv h6{font-size:14px; color:#000; padding:4px 0; margin:0; font-weight:bold;}
.insurance_Term{ width:100%; float:left; margin-top:15px; padding:10px 20px;}
.takeInsurance{width:100%; float:left; padding:6px; border: 1px solid #d6d6d6; border-radius:15px; line-height:25px;}
.takeInsurance> p{ margin-top:5px;}
.takeInsurance> p input{ vertical-align:middle; margin:0;margin-right: 8px;}
.GST_Container{ float: left;width: 100%;background: #fff;padding: 0;border-radius: 12px;margin-bottom: 15px;}
.gst_top{width:100%; float:left; padding:10px 15px;}
.gst_top>p input{ vertical-align:middle; width:17px; height:17px; margin:0; margin-right:6px;}
.gst_top>p b{ font-size:14px; font-weight:normal; color:#000;}
.gst_top>p b span{ color:#808080; font-size:13px; }
.gst_top span{ font-size:12px;color:#808080;}
.gstSmall{width:100%; float:left;}
.gstSmall label{width:100%; float:left; font-size:14px; color:#000;}
.gst_bottom{width: 100%;float: left;background: #ddd;padding-bottom: 15px;border-radius: 0 0 10px 10px;}
.seprator{width:100%; float:left;background:#eee;height:10px; margin-top:15px;}
/*.payment_div h2{text-transform:uppercase;margin-top: 0;color: #000;font-size: 18px;padding: 12px 15px 4px 15px;font-weight: 600;border-radius: 12px 12px 0 0;}*/
.whatsapp{ width:100%; float:left; padding:6px 15px;}
.whatsapp p input{width:17px; height:17px; margin-right:8px;}
.whatsapp p{ font-size: 13px;color: #000;position: relative;}
.whatsapp p span{position: absolute;top:4px; font-size:14px;}
.whatsapp p span i{ color:#2dca1c; font-size:14px;}
.whatsapp> dfn{ color:#818087; font-size:12px; font-style:normal;padding-left: 30px;}
.coupon_Div{float: left;width: 100%;justify-content: space-between;background: #f1f1f1;padding: 11px 10px; border-top: none;display: block; border: 2px dashed #e1e1e1;margin-bottom: 20px;margin-top: 20px;}
.coupon_Div> h4{margin: 0;font-size:14px;color: #49494a;font-weight:600;background-repeat: no-repeat;background-position: left center;padding: 6px;margin-bottom: -3px;margin-top: -10px;font-family: 'Poppins', sans-serif;cursor: pointer;}



/*------------new payment page css start here----------------*/
.payment_pasDiv{width: 100%;float: left;padding: 15px 20px;}
.payment_pasDiv span{ color:#fc3406; font-size:14px; padding-right:15px;}
.payment_Page_main{width:100%; float:left; margin:0; padding:0; background:#eee;}
.pament_whiteCon{ width:100%; float:left;  margin:0 auto; background:#fff;margin-bottom:15px; margin-top:15px; padding:10px;}
.gray_pay{width:100%; float:left;background:#fff;}
.gray_pay> h3{ font-size:14px;color: #fff;font-weight: bold;cursor: pointer;width: 100%;float: left;padding: 10px; background:#49494a;}
.payment_div2> h3{font-size:14px;color: #000;font-weight: bold;cursor: pointer;width: 100%;float: left;padding: 10px; background:#ccc;}
.payment_It{ padding:10px;}
.payment_para{ color:#000; font-size:12px;  margin:10px 0;display:inline-block;width:100%;}
.webcheck{ font-size:14px; color:#000; margin:6px 0 ; width:100%; float:left;  padding:6px 0; font-weight:normal!important;}
.payment_type{ width:100%; float:left; text-align:center;padding-top:10px;}
.payment_type p{ color:#000; font-size:14px; font-weight:bold; margin:10px 0;text-align:center;}
.payment_type h1{ font-size:25px; color:#000; margin-top:10px;text-align:center;display:inline-block; font-weight:bold;}
.ssl_payment{color:#02c710; font-size:12px; margin:10px 0 0px 0;text-align:center;display:inline-block; width:100%;}
.paymenttype_bottom{ width:100%; margin:0 auto; text-align:center; float:left; margin-top:20px;}
.paymenttype_bottom ul {list-style-type: none;margin:0;padding:0;}
.paymenttype_bottom ul li{ width:100%; border:1px solid #ddd; float:left;}
.paymenttype_bottom ul li a{ background:#fff; font-size:12px; color:#000; font-weight:bold; text-align:left; float:left;padding:6px;cursor:pointer;width:100%;}
.paymenttype_bottom ul li a img{ padding-right:20px; }
.paymenttype_bottom ul li a:hover{background:#ddd;}
.payment_iconDiv{width: 100%; float: left;border: 1px solid #ccc;background: #fff; padding:10px;text-align:center;display:none;}
.payment_iconDiv h6{ color:#000; font-size:14px; font-weight:bold; padding:10px 0 0px 0;text-align:center;}
.payment_iconDiv img{ width:60%; margin-top:6px;}
.paynow_Btn{width: 100%;display: inline-block;background: #e83819;font-size: 16px;color: #fff;padding:8px;border: 0;font-weight: bold;}
.payment-button{background: linear-gradient(to right,#e83819,#f3850b); width:100%; float:left;padding:10px 6px; font-size:18px; color:#fff; border-radius:8px; font-weight:bold; border:0; cursor:pointer;}
/*------------new payment page css start here----------------*/


.payment-card {-webkit-appearance: none;-moz-appearance: none;appearance: none;position: absolute;top: 50%;right: 40px;-webkit-transform: translateY(-50%);transform: translateY(-50%);-webkit-transition: all .2s ease-in;transition: all .2s ease-in;opacity: 0;outline: none;z-index: 2;}

input[type=checkbox]:focus, input[type=file]:focus, input[type=radio]:focus {outline: 0px auto -webkit-focus-ring-color;outline: none;outline-offset:0px;}
.payment-card:checked:after {width: 20px;border:0px;}
.payment-card:checked+.payment-label { background: #eee;border-radius: 10px;border:1px solid #2dca1c;}
.payment-label:hover {background: #eee;border-radius: 10px;}
.payment-card:checked {right: 20px;opacity: 1;}
input[type=checkbox], input[type=radio] {box-sizing: border-box;padding: 0;}
.payment-label> span{ font-size:11px;  padding-left:10px;color: #ff5722}
.payment {height: 55px;position: relative;width:45%;border: 1px solid #ccc;float: left;margin: 6px;border-radius: 10px;margin-left: 20px;}
.payment-image {position: absolute;top: 50%;left:15px;-webkit-transform: translateY(-50%);transform: translateY(-50%);width:25px;z-index: 2;}
.payment-label { cursor: pointer;display: -webkit-box;display: flex;font-size:12px;font-weight: 700;-webkit-box-align: center;align-items: center;letter-spacing: 1px;padding: 0 0 0 60px;position: absolute;top: 0;right: 0;bottom: 0;left: 0;
    text-transform: uppercase;margin-bottom: 0;}
.width100{width:100%; float:left; margin:0; padding:0;}
.width50{width:49%; float:left;  padding:0;}
.width50> label{ width:100%;}
.width20{width:19%; float:left; margin:0; padding:0; margin-right:8px;height:38px;}
.width20> span{padding:6px; display:inline-block;}
.width80{width:78%; float:left; margin:0; padding:0;}
.modal-boxfm {display: none;position: absolute;z-index: 1000;width: 98%;background: white;border-bottom: 1px solid #aaa;border-radius: 4px;box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.1);background-clip: padding-box;}

.modal-boxfm header,.modal-boxfm .modal-header {padding:8px 8px;border-bottom: 1px solid #ddd;}
.modal-header{text-align:right;width:100%;display:inline-block;}
.modal-boxfm header h3,.modal-boxfm header h4,.modal-boxfm .modal-header h3,.modal-boxfm .modal-header h4 {margin: 0;}
.modal-boxfm .modal-bodyFm {padding: 2em 1.5em;}
.background_blue{background:#49494a; height:100vh; width:100%; float:left;position:absolute;z-index:99999;}
.modal-boxfm footer,.modal-boxfm .modal-footer {padding: 1em;border-top: 1px solid #ddd;background: rgba(0, 0, 0, 0.02);text-align: right;}
.js-open-modal{ color:#fff;}
.js-open-modal:hover{color:#000;}
.modal-overlay {opacity: 0;filter: alpha(opacity=0);position: absolute;	top: 0;left: 0;	z-index: 900;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.3) !important;}
a.close {line-height: 1;font-size: 1.5em;position: absolute;top: 5%;right: 2%;text-decoration: none;color: #bbb;}
a.close:hover {color: #222;	-webkit-transition: color 1s ease;-moz-transition: color 1s ease;transition: color 1s ease;}
.GStBottom_Btn{ width:100%; float:left; padding:10px;border-top:1px solid #ddd;text-align:right;}
.GStBottom_Btn button{color: #fff;font-size: 18px;font-weight: 600;box-shadow: 2px 4px 2px #bdbdbd;padding: 8px 20px;border-radius:4px;border: none;background: #ef6614;text-decoration: none;margin-top:10px;}
.Good_Know{width: 100%;float: left;margin-bottom: 15px;}
.Good_Know ul {list-style: none;padding: 0;}
.Good_Know ul .inner {  overflow: hidden;display: none;background: #fff;line-height: 25px;padding: 10px;}
.Good_Know ul li {margin: 0.5em 0;}
.Good_Know ul li a{position:relative;}
.Good_Know ul li a.toggle {width: 100%;display: block;background: rgba(0, 0, 0, 0.78);color: #fefefe;padding: 0.75em;border-radius: 0.15em;transition: background 0.3s ease;}
.Good_Know ul li a:after {content: "";position: absolute;top:16px;right: 25px;width: 0;height: 0;border: 8px solid transparent;border-top-color: #fff;}
.Good_Know ul li a.toggle:hover {background: rgba(0, 0, 0, 0.9);}
.term_para{ width:100%; float:left; margin:10px 0; font-size:12px;}
.payment_Detail{display: block;width: 100%;float: left;background: #fff;border-radius: 15px;margin-bottom: 15px;padding: 10px;border: #ccc solid 1px;box-shadow: 0 4px 10px rgba(0,0,0,.12);}
.paymentDiv_Left{ width:40%; float:left;}
.payment_Note{width:100%; float:left; margin-top:20px; padding-top:15px;}
.payment_Note p{ font-size:11px;}
.paymentDiv_Right{ width:58%;float:left; margin-left:20px;border-left: 1px dotted #ddd;}


.align-items-center {align-items: center;}
.justify-content-center {justify-content: center;}   
.d-inline-flex {display: inline-flex;}
.passenger_step {position: relative;display:table;width:100%;}
.passenger_step:after {content: "";position: absolute;width: 8px;height: 8px;top: 50%;left: -20.5px;margin-top: 33px;border-radius: 50px;background-color: #e1e6ec;}
.passenger_step:before {content: "";position: absolute;height: 100%;width: 1px;border-left: 2px dashed #e1e6ec;top: 35px;left: -18px;}
.progess_Step {font-size: 17px;margin-bottom: 10px;color: #212529;letter-spacing: .4px;padding-right: 8px;display:inline-block;}

.progess_Step span {border-radius: 50%;padding: 2px;left: -33px;background: #fff;font-size: 14px;font-weight: 500;color: #0f294d;vertical-align: middle;width:30px;line-height: normal;height:30px;
text-align: center;position: relative;z-index: 2;box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 0 0 5px #f5f7fb;-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 0 0 5px #f5f7fb;-o-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1),0 0 0 5px #f5f7fb;
-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1),0 0 0 5px #f5f7fb;-ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1),0 0 0 5px #f5f7fb;}
.passenger_step.success .progess_Step span{background: #0ea90e;box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 0 0 5px #f5f7fb;-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 0 0 5px #f5f7fb;-o-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1),0 0 0 5px #f5f7fb;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1),0 0 0 5px #f5f7fb;-ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1),0 0 0 5px #f5f7fb;
    position: relative;-webkit-animation-name: zoomInmth;animation-name: zoomInmth;-webkit-animation-duration: .2s;animation-duration: .2s;-webkit-animation-fill-mode: both;animation-fill-mode: both;
    color: #0ea90e;}
.passenger_step.success:before {border: 1px solid #0ea90e;}

.passenger_step.success .progess_Step {color: #0a7a0a;}
.passenger_step.success .progess_Step span:before {content: "";transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);height: 15px;width: 6px;border-bottom: 2px solid #fff;border-right: 2px solid #fff;
position: absolute;left:12px;top:6px;}
.passenger_step.success+.passenger_step .progess_Step span {color: #0ea90e;font-weight: 600;}
.passenger_step:last-child {margin-bottom:40px;}
.passenger_step.false~.passenger_step.false .progess_Step {cursor: no-drop;user-select: none;filter: gray;-webkit-filter: grayscale(100%);-ms-filter: grayscale(100%);-moz-filter: grayscale(100%);-o-filter: grayscale(100%);color: #9aaed7}
.passenger_step.false~.passenger_step.false .progess_Step,.passenger_step.false~.passenger_step.false .progess_Step span {color: #9aaed7}
.passenger_step:last-child::after,.passenger_step:last-child::before {display: none}
.passenger_step:nth-child(3n+3)::after,.passenger_step:nth-child(3n+3)::before{display: none}

.proceed_Paybtn_diseable{font-size: 16px;font-weight: 600;padding:10px 30px;border-radius:4px;border: none;background: #ccc;text-decoration: none;cursor: pointer;display: inline-grid;color: #939090;text-align: center;}
.passengerEdit{position: absolute;left: 0;top: 9px;width: 100%;}
.EditBtn{font-weight: 900;border-radius: 6px 6px 6px 0;box-shadow: 2px 2px 3px rgba(49,123,243,.21);font-size: 12px;padding: 4px 18px 4px 15px;position: relative;left: -7px;top: 7px;background: #49494a;color: #fff;width:90px;cursor:pointer;}
.EditBtn::after{content: "";position: absolute;left: 0px;bottom: -6px;width: 0;height: 0;border-color: #49494a #49494a transparent transparent;border-style: solid;border-width: 3px;z-index: 0;}
.proceed_Paybtn{color: #fff;font-size:16px;font-weight: 600;padding:10px 30px;border-radius:4px;border: none;background: #ef6614;text-decoration: none;text-align: center;cursor: pointer;display: inline-block;}
.payDiv{width:100%; float:left; border-top:1px solid #ccc;padding:0px;margin-top: 20px;}
.payDivLeft{ width:100%; float:left; text-align:left;}
.PayDivRight{ width:100%; float:right; text-align:center;}
.paymentAmt{width:60%; float:left;text-align:center;}
.paymentAmt p{ color:#808080; font-size:12px;}
.paymentAmt p span{ font-size:20px; color:#000; font-weight:bold;}
.PaynowDiv{width:38%; float:left;}
.mobile_paymentPrice{width:100%; float:left;display:none; }
.TotalAmount{width:100%; float:left;padding:20px 10px; border:1px solid #ccc; border-radius:8px;}
.textLeft{ font-size:14px; text-align:left; color:#333;width:49%; float:left; font-weight:600;}
.textRight{font-size:15px; text-align:right; color:#333;width:49%; float:left; font-weight:600;}
.textRight i{ padding-right:3px;}
.textRight a{ color:#333;font-size:17px; padding-right:5px;}
.textRight a i{ color:#000;}
.FlightFare{width:100%; float:left; padding:10px;background:rgba(165,159,159,0.10); margin-top:10px;}
.Fare100{width:100%; float:left; padding:6px 0;}
.TotalAmountmob{width:100%; float:left; padding:10px 0;}
.modal-btn {letter-spacing: 1px;border: none;outline: none;cursor: pointer;padding: 10px 25px;background-color: #ef6633;color: #fff;transition: all .3s;}
.modal-btn:hover {background-color: #d25729;}
.modalprice {background-color: rgba(0,0,0,.65);display: none;overflow: auto;position: fixed;z-index: 9999;top: 0;left: 0;width: 100%;height: 100%;}
.modal-content {position: absolute;width:96%;margin: 0 auto;background-color: #fff;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);bottom: 0px;left: 0;right: 0;}
.modal-animated-in {animation: totop-in .3s ease;}
.modal-animated-out {animation: totop-out .3s ease forwards;}
.modal-header {background-color:#fff;width: 100%;height: 60px;line-height:50px;padding-left: 20px;box-sizing: border-box;}
.modal-content .close {position: absolute;right: 0;top: 0; width:45px;height:45px;color: #000;line-height:50px;text-align: center;cursor: pointer;transition: all .3s;opacity: .5;z-index:999;}
.modal-content .close:hover {background-color: #fff;color: #222;}
.modal-body {padding:10px 10px;background: #fff;width: 100%;float: left;}
.modal-header h3 {color: #333; font-size:18px;text-align:left;}
.AmttextLeft{text-align:left; color:#333;width:49%; float:left; font-size:16px; font-weight:bold;}
.AmttextRight{text-align:right; color:#000;width:49%; float:left;font-size:18px; font-weight:bold;}
.AmttextRight em{ font-style:normal;}
.passdata_show span img{width:30px; padding-right:6px;}
.fare_checkingDiv{display:none;}



.passenger_Bg{ background:#f5f7fb;width: 100%;
    display: inline-block;
    border-top: 1px solid #ccc;}
@keyframes totop-in {
  0% {
    top: 600px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }  
}

@keyframes totop-out {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }  
}



@media screen and ( max-width:767px){
.passDepartLeft{width:100%;}
.passDepartRight{width:100%; margin-top:15px;}
.passDepartOne {padding-left: 0px;padding-right:6px;width:40%;line-height:15px;}
.passDepartThird{width: 40%; padding-left:6px;padding-right: 4px;line-height:15px;}
.passDepartAir{padding-left: 9px;}
.passDepartAir dfn{ padding-top:0px; display:none;}
.passDepartLogo{ padding-top:3px;}
.PassReundale span{display:none;}
.passDeartStop{ position:relative; top:42px;}
.passDSline{border:none;}
.passDSline:before,.passDSline:after{ display:none;}
.citycode_mob{ display:block;}
.city_Destop{display:none;}
.passDepartOne> p span{padding-left:0;}
.passDepartTwo{ width:20%;}
.passDepartThird> span, .passDepartOne> span{ font-size:11px;}
.passIcon{top: -25px;}
.depart_top{ margin-top:10px;}
.depat_img{ float:left; margin-top:0px;}
.passDepartThird> p span{ padding-left:0;}
.seprator{display:none;}
.fare_continue{ width:100%; float:left;text-align:center;background: linear-gradient(to right,#e83819,#f3850b); color:#fff!important;font-size: 16px;padding: 8px 0;
margin-bottom: 20px;}
.modal-boxfm .modal-bodyFm{padding:2px;}
/*.pament_left{flex-flow: wrap; padding:0;
    min-height: calc(110vh - 258px);
    height: calc(110vh - 258px);
    overflow-y: scroll;}*/
.main_footer2,.payment_type{ display:none;}
#popup header{ background:#49494a;width:100%; float:left;}
#popupP header{ background:#49494a;width:100%; float:left;}
.citycode_mob p{ font-size:13px;}
.pay_pax_detail_Title{width:50%;padding-left: 0;}
.pay_pax_detail{width: 100%;margin-left:0px;}
.pay_pax_gender{width: 100%; padding-left:0;}
.pay_pax_birth{width: 100%;margin-left:0px;}
.important{ display:none;}
.width20{ padding:6px 0;}
.payment_div{ border:1px solid #ccc;box-shadow:none; padding:10px;border-radius:10px;}
.whatsapp{padding: 6px 0px;}
.GST_Container{ border:0;box-shadow:none; }
.modal-boxfm{ height:100vh;overflow:hidden;overflow-y:scroll;}
.gst_top{padding:10px 0;}
.passenger_Dtailsone{border:0;box-shadow:none; padding:0px;}
.paymenttype_bottom{ border:0px;}
.payment{height:45px; margin-bottom:6px;border-radius:8px;width: 98%; margin-left:3px;}
.payment-card:checked+.payment-label {background: #eee;border-radius:8px;}
.payment-label{ font-size:12px;}
.payment-image{ width:30px;}
.payment_Page_main{position:relative;top:-60px;z-index: 9; }
#PopupX{ display: block!important;position: fixed;right: 20px;top: 23px;font-size: 20px;}
.width20{width:19%;padding:0px;height:38px;}
.width50{width:100%;}
.gst_bottom{border-radius:0px;}
.passengerFlightD{ padding:0px;}
/*.payment-button{position: fixed;left: 0;bottom: 0;z-index: 99;}*/
.payment-label> span{padding-left: 10px;font-size: 11px;}
.progess_Step span{left: 0px;}
.passenger_step:before{left: 15px;z-index:-1;}
.paymentDiv_Right{width: 100%;margin-left: 0px; border:0px;}
.paymentDiv_Left,.payDivLeft,.PayDivRight,.paymentAmt,.PaynowDiv{width:100%;}
.payment-button{ margin-top:15px;}
.ProgrssDiv{padding-left: 0px;}
.mobile_paymentPrice{display:block; position: relative;}
.progess_Step{margin-bottom: 15px; font-size:16px; font-weight:bold;}
.booknow-bt .Enablebtn{width:100%; text-align:center;box-shadow:none;}
.proceed_Paybtn_diseable,.proceed_Paybtn{width:100%;}
.booknow-bt .disabled{width:100%;}
.payment_div .form-control{ height:38px;}
.GStBottom_Btn{ padding:10px 0;}
.passdata_show{ margin-bottom:6px;}
#PaxShowData p{ margin-bottom:6px;}
.payment_Note{ display:none;}
.passenger_back> a{font-size:12px;}
#CFeeUPI{ font-size:11px;}
.term_para{ font-size:11px;}
.fare_div{ background:#fff; border-top:1px solid#ccc;padding:16px 10px;}
.TotalAmount{border-radius: 0;border: 0px;position: fixed;bottom: -10px;z-index: 9;background: #fff;border-top: 1px solid #ccc;}

.fare_divleft{width:60%;float:left;}
.fare_divright{width:40%; float:left; vertical-align:middle;text-align: right;}
.fare_divright span{font-size:17px; font-weight: bold; color:#333;}
.fare_divright img{width:16%;}
.fare_checkingDiv{display:block; width:100%; float:left;}
.pricemob_sticky{ position:fixed;left:0; bottom:0;z-index:+1;}
.passDepartLogo img{width:50%;}
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1){

.width20{margin-right: 5px;}
.passDepartTwo{width:28%;}
.passDepartThird p b,.passDepartOne p b{font-size: 18px;}
.passDepartOne {padding-left: 20px;padding-right: 20px;}
.passDepartThird {padding-left: 34px;padding-right: 14px;}
.width50{ width:48%;}
.width80 {width: 77%;}
.pay_pax_detail{width: 37%;}
}

@media (min-width: 992px) and (max-width: 1280px){
.pay_pax_birth{width:34%;}
.paymentDiv_Right{margin-left: 10px;}
.payment{margin-left: 10px;}
}